
@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete</h3>
        @Html.ActionLink("Return to List", "Delete", "Student")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            <p>Are you sure that you wish to delete your informaton?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "List", "Student", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>     